@page
@model BridgeAnalysisWebApplication.Pages.CreateMaterialModel
@{
}

<div class="text-center">
    <h1 class="display-4">Create Material</h1>
</div>
<br>
Enter the following values required in SI units to create a new material: 
<br>
<br>

<form method="post">
    <div>Enter Name (should be unique): <br><input type="text" name="materialName"></div><br>
    <div>Enter Modulus of Rupture (should be a positive real number): <br><input type="text" name="materialModulusOfRupture"></div><br>
    <div>Enter Shear Strength (should be a positive real number): <br><input type="text" name="materialShearStrength"></div><br>
    <div>Enter Young's Modulus (should be a positive real number): <br><input type="text" name="materialYoungsModulus"></div><br>
    
    <div><input type="submit"></div>
</form>

<br>
@Model.message

<br>
<br>
<a asp-area="" asp-page="/ViewMaterials">View Materials</a>